<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GitHubAccessToken" value="{your_token}" />
		<add key="RepositoryOwnerName" value="{your_owner_name}" />
		<add key="OutputFileName" value="Output.xlsx" />
		<add key="ChunkSize" value="10" />
		<add key="GitHubApiBaseUrl" value="https://api.github.com" />
		<add key="JiraTeamBaseUrl" value="https://{your_team_name}.atlassian.net" />
	</appSettings>
</configuration>